/*Переменные*/
:root {

    --background-black-opacity: rgb(0, 0, 0, 25%);
    --color-text: #696969;
    --color-grey: #9e9e9e;
    --background-grey: #e1e1e1;
    --font-family: 'Roboto', sans-serif;
}

/*Слайдер*/
 #slider-container {
    width: 500px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
  }
  #slider-images {
    display: flex;
    transition: transform 0.5s ease;
    transform: scale (0.6);
  }
  .slider-image {
    flex: 0 0 500px;
    height: 300px;
  }
  #prev-btn, #next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  #prev-btn {
    left: 10px;
  }
  #next-btn {
    right: 10px;
  }
/*О нас*/
.second-title {
    font-family: var(--font-family);
    font-size: 312px;
    color: var(--b);
}
.about-me{
    padding: 20px;
}
.about-me__us {
    font-family: var(--font-family);
    font-size: 25px;
    color: var(--b);
}

.about-me__title {
    font-family: var(--font-family);
    font-size: 32px;
    color: var(--b);
}

.about-me__second-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    color: var(--b);
}

.about-me__description {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.05em;
    color: #000;
    margin-bottom: 20px;
}

.about-me__description_1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.05em;
    color: #000;
    margin-bottom: 10px;
}

/*Линии*/
.line_1 {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    border-width: 2px;

}

.line_2 {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 20%;
    margin-left: -1px;
    border-width: 2px;
}

.line_3 {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 30%;
    margin-left: -1px;
    border-width: 2px;
}

/*Каталог*/
.katalog {

}

.katalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

.katalog-wrapper {
    background-color: var(--background-grey);
    display: flex; /* Используем flexbox для управления расположением элементов */
    flex-direction: column;
    align-items: flex-start; /* Выравниваем элементы по левому краю */
    margin-bottom: 30px;
    padding: 20px 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.katalog-image {
    margin-bottom: 20px;
    width: 100%; /* Чтобы изображение занимало всю доступную ширину блока */
}

.katalog-title {
    font-family: var(--font-family);
    margin-bottom: 15px;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
    display: block;
}

.katalog-text {
    font-family: var(--font-family);
    color: var(--color-text);
    margin-bottom: 10px;
}

.katalog-text:last-of-type {
    margin-bottom: 0;
}

.katalog-text_price {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
}

.katalog-text_vinp {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 15px;
}

.katalog-text-rating {
    font-family: var(--font-family);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="yellow" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" /></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    padding-left: 20px;
    display: inline-block;
}



/*Новости*/

.news {


}

.news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 5px 10px;

    border-radius: 5px;
    background-color: var(--background-grey);


}
.news-title {
    margin-bottom: 15px;
    font-size: 20px;
    color: var(--color-green);

}

.news-text {
    font-family: var(--font-family);
    font-size: 20px;
    color: var(--color-text)
    font-size: 210px;
    letter-spacing: 0.05em;
    color: #000;
    min-width: 100%;

}

.news-text:last-of-type {
    margin-bottom: 0;
}
/*Связь*/

.label[for="name"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6"><path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" /></svg>');
}

.label[for="e-mail"]:before {
   background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' d='M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75' /%3e%3c/svg%3e ");
}
form {
    display: flex;
    flex-direction: column; /* Располагаем элементы в столбик */
    max-width: 400px;
    padding-left: 20px;
}

/* Добавляем закругление углов для всех элементов формы */
input[type="text"],
input[type="email"],
textarea,
button {
    border-radius: 5px;
    padding: 10px; /* Добавляем отступы для лучшего визуального эффекта */
    margin-bottom: 10px; /* Добавляем отступ между элементами */
}

/* Добавляем стили для кнопки */
button {
    background-color: #4CAF50; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Убираем границу */
    cursor: pointer; /* Изменяем курсор при наведении */
    max-width: 200px;
}

/* При наведении на кнопку */
button:hover {
    background-color: #45a049; /* Цвет фона при наведении */
}
.checkbox-label{
    font-family: var(--font-family);
    margin-top: 10px;
    margin-bottom: 10px;
}
/*Футер*/
 /* Общие стили для .footer */
.footer_elements {
    display: flex;
    background-color: var(--background-grey);
    justify-content: space-around;
    padding: 10px;
}


.second-title {
    font-family: var(--font-family);
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #000;
    text-align: center;
    width: 50%;
}

.footer-menu-elements {
    display: flex;
    font-family: var(--font-family);
    font-size: 30px;
    color: var(--b);
    margin-top: 20px;
}

.footer-description {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px 0;
    background-color: var(--background-grey);
    justify-content: center;
}

.social-elements {
    font-family: var(--font-family);
    margin-top: 20px;
    font-size: 30px;
}

.contacts-elements {
    font-family: var(--font-family);
    font-size: 30px;
    margin-top: 20px;
}

.label:before,
.label_1:before {
    content: "";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: relative;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.label_1[for="TG"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24"><path d="M 25 2 C 12.309288 2 2 12.309297 2 25 C 2 37.690703 12.309288 48 25 48 C 37.690712 48 48 37.690703 48 25 C 48 12.309297 37.690712 2 25 2 z M 25 4 C 36.609833 4 46 13.390175 46 25 C 46 36.609825 36.609833 46 25 46 C 13.390167 46 4 36.609825 4 25 C 4 13.390175 13.390167 4 25 4 z M 34.087891 14.035156 C 33.403891 14.035156 32.635328 14.193578 31.736328 14.517578 C 30.340328 15.020578 13.920734 21.992156 12.052734 22.785156 C 10.984734 23.239156 8.9960938 24.083656 8.9960938 26.097656 C 8.9960938 27.432656 9.7783594 28.3875 11.318359 28.9375 C 12.146359 29.2325 14.112906 29.828578 15.253906 30.142578 C 15.737906 30.275578 16.25225 30.34375 16.78125 30.34375 C 17.81625 30.34375 18.857828 30.085859 19.673828 29.630859 C 19.666828 29.798859 19.671406 29.968672 19.691406 30.138672 C 19.814406 31.188672 20.461875 32.17625 21.421875 32.78125 C 22.049875 33.17725 27.179312 36.614156 27.945312 37.160156 C 29.021313 37.929156 30.210813 38.335938 31.382812 38.335938 C 33.622813 38.335938 34.374328 36.023109 34.736328 34.912109 C 35.261328 33.299109 37.227219 20.182141 37.449219 17.869141 C 37.600219 16.284141 36.939641 14.978953 35.681641 14.376953 C 35.210641 14.149953 34.672891 14.035156 34.087891 14.035156 z M 34.087891 16.035156 C 34.362891 16.035156 34.608406 16.080641 34.816406 16.181641 C 35.289406 16.408641 35.530031 16.914688 35.457031 17.679688 C 35.215031 20.202687 33.253938 33.008969 32.835938 34.292969 C 32.477938 35.390969 32.100813 36.335938 31.382812 36.335938 C 30.664813 36.335938 29.880422 36.08425 29.107422 35.53125 C 28.334422 34.97925 23.201281 31.536891 22.488281 31.087891 C 21.863281 30.693891 21.201813 29.711719 22.132812 28.761719 C 22.899812 27.979719 28.717844 22.332938 29.214844 21.835938 C 29.584844 21.464938 29.411828 21.017578 29.048828 21.017578 C 28.923828 21.017578 28.774141 21.070266 28.619141 21.197266 C 28.011141 21.694266 19.534781 27.366266 18.800781 27.822266 C 18.314781 28.124266 17.56225 28.341797 16.78125 28.341797 C 16.44825 28.341797 16.111109 28.301891 15.787109 28.212891 C 14.659109 27.901891 12.750187 27.322734 11.992188 27.052734 C 11.263188 26.792734 10.998047 26.543656 10.998047 26.097656 C 10.998047 25.463656 11.892938 25.026 12.835938 24.625 C 13.831938 24.202 31.066062 16.883437 32.414062 16.398438 C 33.038062 16.172438 33.608891 16.035156 34.087891 16.035156 z"></path></svg>');}

.label_1[for="ВКонтакте"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 24 24"><path d="M 5 3 C 3.895 3 3 3.895 3 5 L 3 19 C 3 20.105 3.895 21 5 21 L 19 21 C 20.105 21 21 20.105 21 19 L 21 5 C 21 3.895 20.105 3 19 3 L 5 3 z M 5 5 L 19 5 L 19 19 L 5 19 L 5 5 z M 11.791016 8.8574219 C 11.201016 8.8524219 10.700969 8.8600469 10.417969 8.9980469 C 10.229969 9.0900469 10.084828 9.2965937 10.173828 9.3085938 C 10.282828 9.3225937 10.529109 9.3746875 10.662109 9.5546875 C 10.831109 9.7856875 10.826172 10.304688 10.826172 10.304688 C 10.826172 10.304687 10.922656 11.732156 10.597656 11.910156 C 10.374656 12.032156 10.069109 11.784437 9.4121094 10.648438 C 9.0751094 10.065437 8.8222656 9.421875 8.8222656 9.421875 C 8.8222656 9.421875 8.7725469 9.3003281 8.6855469 9.2363281 C 8.5785469 9.1583281 8.4296875 9.1328125 8.4296875 9.1328125 L 6.859375 9.140625 C 6.859375 9.140625 6.6221563 9.1411406 6.5351562 9.2441406 C 6.4581563 9.3361406 6.5292969 9.5175781 6.5292969 9.5175781 C 6.5292969 9.5175781 7.7602969 12.386844 9.1542969 13.839844 C 10.433297 15.171844 11.882812 15.050781 11.882812 15.050781 L 12.541016 15.050781 C 12.541016 15.050781 12.740797 15.062125 12.841797 14.953125 C 12.934797 14.852125 12.931641 14.695312 12.931641 14.695312 C 12.931641 14.695312 12.919125 13.811641 13.328125 13.681641 C 13.732125 13.553641 14.249828 14.535109 14.798828 14.912109 C 15.212828 15.198109 15.529297 15.136719 15.529297 15.136719 L 16.998047 15.117188 C 16.998047 15.117188 17.765297 15.068938 17.404297 14.460938 C 17.374297 14.410937 17.1925 14.013312 16.3125 13.195312 C 15.3905 12.339313 15.514047 12.477094 16.623047 10.996094 C 17.299047 10.095094 17.569375 9.5445938 17.484375 9.3085938 C 17.403375 9.0825937 16.90625 9.1425781 16.90625 9.1425781 L 15.253906 9.1523438 C 15.253906 9.1523438 15.130062 9.1344531 15.039062 9.1894531 C 14.950063 9.2434531 14.892578 9.3671875 14.892578 9.3671875 C 14.892578 9.3671875 14.63125 10.066156 14.28125 10.660156 C 13.54625 11.913156 13.251859 11.978391 13.130859 11.900391 C 12.850859 11.720391 12.921875 11.174156 12.921875 10.785156 C 12.921875 9.5711562 13.1045 9.0645938 12.5625 8.9335938 C 12.3825 8.8895937 12.251016 8.8624219 11.791016 8.8574219 z"></path></svg>');
}

.label_1[for="Наш Youtube канал"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 24 24"><path d="M 12 4 C 12 4 5.7455469 3.9999687 4.1855469 4.4179688 C 3.3245469 4.6479688 2.6479687 5.3255469 2.4179688 6.1855469 C 1.9999687 7.7455469 2 12 2 12 C 2 12 1.9999687 16.254453 2.4179688 17.814453 C 2.6479687 18.675453 3.3255469 19.352031 4.1855469 19.582031 C 5.7455469 20.000031 12 20 12 20 C 12 20 18.254453 20.000031 19.814453 19.582031 C 20.674453 19.352031 21.352031 18.674453 21.582031 17.814453 C 22.000031 16.254453 22 12 22 12 C 22 12 22.000031 7.7455469 21.582031 6.1855469 C 21.352031 5.3255469 20.674453 4.6479688 19.814453 4.4179688 C 18.254453 3.9999687 12 4 12 4 z M 12 6 C 14.882 6 18.490875 6.1336094 19.296875 6.3496094 C 19.465875 6.3946094 19.604391 6.533125 19.650391 6.703125 C 19.891391 7.601125 20 10.342 20 12 C 20 13.658 19.891391 16.397875 19.650391 17.296875 C 19.605391 17.465875 19.466875 17.604391 19.296875 17.650391 C 18.490875 17.866391 14.882 18 12 18 C 9.118 18 5.509125 17.866391 4.703125 17.650391 C 4.534125 17.605391 4.3956094 17.466875 4.3496094 17.296875 C 4.1086094 16.398875 4 13.658 4 12 C 4 10.342 4.1086094 7.602125 4.3496094 6.703125 C 4.3946094 6.534125 4.533125 6.3956094 4.703125 6.3496094 C 5.509125 6.1336094 9.118 6 12 6 z M 10 9.5 L 16 12 L 10 14.5 L 10 9.5 z"></path></svg>');
}

.footer-about {
    font-family: var(--font-family);
    font-size: 20px;
}

/*Политика конфиденциальности*/
.back_button{
    margin-left: 20px;
    margin-top: 20px;

}
.privacy {
    margin-left: 10px;
    background: #EFE5DC;

}

.privacy_text {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
}

.h1 {
     font-family: var(--font-family);
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}

.h2 {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}


/*Общие стили*/
a {
    color: var(--color-green);
    text-decoration: none;
    transition: opacity .25s ease;
}

a:hover {
    opacity: 70%;
}

.second-title {
    position: relative;
    font-size: 32px;
    text-align: left;
    margin-bottom: 20px;
    left: 20px;
}
.second-title_footer{
    font-family: var(--font-family);
    font-size: 35px;
}



.second-title:after {
    content: "";
}

.cls {
    clear: both;
}

/*Header*/
.logo {
    display: inline-block; /* Отображение как блочный элемент, чтобы можно было задать ширину и высоту */
    font-family: Arial, sans-serif; /* Шрифт текста */
    font-size: 24px; /* Размер текста */
    font-weight: bold; /* Жирный шрифт */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    letter-spacing: 2px; /* Расстояние между буквами */
    color: rgb(0, 0, 0); /* Цвет текста */
    text-decoration: none; /* Убирает подчёркивание ссылки */
    padding: 10px 20px; /* Поля вокруг текста ссылки */
    background-color:#D197D8; /* Цвет фона ссылки */
    border-radius: 5px; /* Закругление углов */
}

.logo:hover {
    background-color: #ccc; /* Цвет фона ссылки при наведении */
}

.header {
    position: relative;
    height: 50vh;
}

.header__background {
    position: absolute;

    width: 100%;
    object-fit: cover;
    margin-top: 70px;
}
.header_top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 70px;
    color: black;
    z-index: 2;
}

.header_top a {
    color: white;
}
.menu {
    font-family: var(--font-family);
    display: flex;
    align-items: center; /* Центрирование элементов по вертикали */
    justify-content: space-between;
    background-color: #D197D8; /* Цвет заливки */
    padding: 10px 20px; /* Поля вокруг элементов меню */
    border-radius: 5px; /* Закругление краев */
    margin-right: 10px;

}

.menu-element {
    margin-right: 30px;
    font-size: 20px;
    margin-left: 45px;
}
.menu a.active {
    text-decoration: underline; /* Добавляет подчёркивание для активной ссылки */
    font-weight: bold; /* Устанавливает жирный шрифт для активной ссылки */
}

/*1920*/
@media  (width: 1920px) {
.header {
    position: relative;
    height: 60vh;
}

}
.menu-element {
    margin-right: 30px;
    font-size: 20px;
    margin-left: 45px;
}
.katalog{
    padding: 40px 20px;
}
.about-me{
    padding: 250px 20px;
}
.contact-me{
     padding: 250px 20px;
}
.news{
    padding: 250px 20px;
}
.second-title {
    font-size: 50px;
}
.footer_elements {
    display: flex;
    background-color: var(--background-grey);
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}



.footer-menu-elements {
    font-size: 40px;
}
.social-elements {
    font-size: 40px;
}

.contacts-elements {
    font-size: 40px;
}

.label:before,
.label_1:before {
    width: 50px;
    height: 50px;
}

.label_1[for="TG"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50"><path d="M 25 2 C 12.309288 2 2 12.309297 2 25 C 2 37.690703 12.309288 48 25 48 C 37.690712 48 48 37.690703 48 25 C 48 12.309297 37.690712 2 25 2 z M 25 4 C 36.609833 4 46 13.390175 46 25 C 46 36.609825 36.609833 46 25 46 C 13.390167 46 4 36.609825 4 25 C 4 13.390175 13.390167 4 25 4 z M 34.087891 14.035156 C 33.403891 14.035156 32.635328 14.193578 31.736328 14.517578 C 30.340328 15.020578 13.920734 21.992156 12.052734 22.785156 C 10.984734 23.239156 8.9960938 24.083656 8.9960938 26.097656 C 8.9960938 27.432656 9.7783594 28.3875 11.318359 28.9375 C 12.146359 29.2325 14.112906 29.828578 15.253906 30.142578 C 15.737906 30.275578 16.25225 30.34375 16.78125 30.34375 C 17.81625 30.34375 18.857828 30.085859 19.673828 29.630859 C 19.666828 29.798859 19.671406 29.968672 19.691406 30.138672 C 19.814406 31.188672 20.461875 32.17625 21.421875 32.78125 C 22.049875 33.17725 27.179312 36.614156 27.945312 37.160156 C 29.021313 37.929156 30.210813 38.335938 31.382812 38.335938 C 33.622813 38.335938 34.374328 36.023109 34.736328 34.912109 C 35.261328 33.299109 37.227219 20.182141 37.449219 17.869141 C 37.600219 16.284141 36.939641 14.978953 35.681641 14.376953 C 35.210641 14.149953 34.672891 14.035156 34.087891 14.035156 z M 34.087891 16.035156 C 34.362891 16.035156 34.608406 16.080641 34.816406 16.181641 C 35.289406 16.408641 35.530031 16.914688 35.457031 17.679688 C 35.215031 20.202687 33.253938 33.008969 32.835938 34.292969 C 32.477938 35.390969 32.100813 36.335938 31.382812 36.335938 C 30.664813 36.335938 29.880422 36.08425 29.107422 35.53125 C 28.334422 34.97925 23.201281 31.536891 22.488281 31.087891 C 21.863281 30.693891 21.201813 29.711719 22.132812 28.761719 C 22.899812 27.979719 28.717844 22.332938 29.214844 21.835938 C 29.584844 21.464938 29.411828 21.017578 29.048828 21.017578 C 28.923828 21.017578 28.774141 21.070266 28.619141 21.197266 C 28.011141 21.694266 19.534781 27.366266 18.800781 27.822266 C 18.314781 28.124266 17.56225 28.341797 16.78125 28.341797 C 16.44825 28.341797 16.111109 28.301891 15.787109 28.212891 C 14.659109 27.901891 12.750187 27.322734 11.992188 27.052734 C 11.263188 26.792734 10.998047 26.543656 10.998047 26.097656 C 10.998047 25.463656 11.892938 25.026 12.835938 24.625 C 13.831938 24.202 31.066062 16.883437 32.414062 16.398438 C 33.038062 16.172438 33.608891 16.035156 34.087891 16.035156 z"></path></svg>');

.label_1[for="ВКонтакте"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 24 24"><path d="M 5 3 C 3.895 3 3 3.895 3 5 L 3 19 C 3 20.105 3.895 21 5 21 L 19 21 C 20.105 21 21 20.105 21 19 L 21 5 C 21 3.895 20.105 3 19 3 L 5 3 z M 5 5 L 19 5 L 19 19 L 5 19 L 5 5 z M 11.791016 8.8574219 C 11.201016 8.8524219 10.700969 8.8600469 10.417969 8.9980469 C 10.229969 9.0900469 10.084828 9.2965937 10.173828 9.3085938 C 10.282828 9.3225937 10.529109 9.3746875 10.662109 9.5546875 C 10.831109 9.7856875 10.826172 10.304688 10.826172 10.304688 C 10.826172 10.304687 10.922656 11.732156 10.597656 11.910156 C 10.374656 12.032156 10.069109 11.784437 9.4121094 10.648438 C 9.0751094 10.065437 8.8222656 9.421875 8.8222656 9.421875 C 8.8222656 9.421875 8.7725469 9.3003281 8.6855469 9.2363281 C 8.5785469 9.1583281 8.4296875 9.1328125 8.4296875 9.1328125 L 6.859375 9.140625 C 6.859375 9.140625 6.6221563 9.1411406 6.5351562 9.2441406 C 6.4581563 9.3361406 6.5292969 9.5175781 6.5292969 9.5175781 C 6.5292969 9.5175781 7.7602969 12.386844 9.1542969 13.839844 C 10.433297 15.171844 11.882812 15.050781 11.882812 15.050781 L 12.541016 15.050781 C 12.541016 15.050781 12.740797 15.062125 12.841797 14.953125 C 12.934797 14.852125 12.931641 14.695312 12.931641 14.695312 C 12.931641 14.695312 12.919125 13.811641 13.328125 13.681641 C 13.732125 13.553641 14.249828 14.535109 14.798828 14.912109 C 15.212828 15.198109 15.529297 15.136719 15.529297 15.136719 L 16.998047 15.117188 C 16.998047 15.117188 17.765297 15.068938 17.404297 14.460938 C 17.374297 14.410937 17.1925 14.013312 16.3125 13.195312 C 15.3905 12.339313 15.514047 12.477094 16.623047 10.996094 C 17.299047 10.095094 17.569375 9.5445938 17.484375 9.3085938 C 17.403375 9.0825937 16.90625 9.1425781 16.90625 9.1425781 L 15.253906 9.1523438 C 15.253906 9.1523438 15.130062 9.1344531 15.039062 9.1894531 C 14.950063 9.2434531 14.892578 9.3671875 14.892578 9.3671875 C 14.892578 9.3671875 14.63125 10.066156 14.28125 10.660156 C 13.54625 11.913156 13.251859 11.978391 13.130859 11.900391 C 12.850859 11.720391 12.921875 11.174156 12.921875 10.785156 C 12.921875 9.5711562 13.1045 9.0645938 12.5625 8.9335938 C 12.3825 8.8895937 12.251016 8.8624219 11.791016 8.8574219 z"></path></svg>');
}

.label_1[for="Наш Youtube канал"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 24 24"><path d="M 12 4 C 12 4 5.7455469 3.9999687 4.1855469 4.4179688 C 3.3245469 4.6479688 2.6479687 5.3255469 2.4179688 6.1855469 C 1.9999687 7.7455469 2 12 2 12 C 2 12 1.9999687 16.254453 2.4179688 17.814453 C 2.6479687 18.675453 3.3255469 19.352031 4.1855469 19.582031 C 5.7455469 20.000031 12 20 12 20 C 12 20 18.254453 20.000031 19.814453 19.582031 C 20.674453 19.352031 21.352031 18.674453 21.582031 17.814453 C 22.000031 16.254453 22 12 22 12 C 22 12 22.000031 7.7455469 21.582031 6.1855469 C 21.352031 5.3255469 20.674453 4.6479688 19.814453 4.4179688 C 18.254453 3.9999687 12 4 12 4 z M 12 6 C 14.882 6 18.490875 6.1336094 19.296875 6.3496094 C 19.465875 6.3946094 19.604391 6.533125 19.650391 6.703125 C 19.891391 7.601125 20 10.342 20 12 C 20 13.658 19.891391 16.397875 19.650391 17.296875 C 19.605391 17.465875 19.466875 17.604391 19.296875 17.650391 C 18.490875 17.866391 14.882 18 12 18 C 9.118 18 5.509125 17.866391 4.703125 17.650391 C 4.534125 17.605391 4.3956094 17.466875 4.3496094 17.296875 C 4.1086094 16.398875 4 13.658 4 12 C 4 10.342 4.1086094 7.602125 4.3496094 6.703125 C 4.3946094 6.534125 4.533125 6.3956094 4.703125 6.3496094 C 5.509125 6.1336094 9.118 6 12 6 z M 10 9.5 L 16 12 L 10 14.5 L 10 9.5 z"></path></svg>');
}

.footer-about {
    font-family: var(--font-family);
    font-size: 40px;
}

}
/*1920*/
@media screen and (width: 1920px) {
.header {
    position: relative;
    height: 60vh;
}

}
.menu-element {
    margin-right: 30px;
    font-size: 20px;
    margin-left: 45px;
}
.katalog{
    padding: 40px 20px;
}
.about-me{
    padding: 40px 20px;
}
.contact-me{
     padding: 40px 20px;
}
.news{
    padding: 40px 20px;
}
.second-title {
    font-size: 50px;
}
.footer_elements {
    display: flex;
    background-color: var(--background-grey);
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}



.footer-menu-elements {
    font-size: 40px;
}
.social-elements {
    font-size: 40px;
}

.contacts-elements {
    font-size: 40px;
}

.label:before,
.label_1:before {
    width: 50px;
    height: 50px;
}

.label_1[for="TG"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50"><path d="M 25 2 C 12.309288 2 2 12.309297 2 25 C 2 37.690703 12.309288 48 25 48 C 37.690712 48 48 37.690703 48 25 C 48 12.309297 37.690712 2 25 2 z M 25 4 C 36.609833 4 46 13.390175 46 25 C 46 36.609825 36.609833 46 25 46 C 13.390167 46 4 36.609825 4 25 C 4 13.390175 13.390167 4 25 4 z M 34.087891 14.035156 C 33.403891 14.035156 32.635328 14.193578 31.736328 14.517578 C 30.340328 15.020578 13.920734 21.992156 12.052734 22.785156 C 10.984734 23.239156 8.9960938 24.083656 8.9960938 26.097656 C 8.9960938 27.432656 9.7783594 28.3875 11.318359 28.9375 C 12.146359 29.2325 14.112906 29.828578 15.253906 30.142578 C 15.737906 30.275578 16.25225 30.34375 16.78125 30.34375 C 17.81625 30.34375 18.857828 30.085859 19.673828 29.630859 C 19.666828 29.798859 19.671406 29.968672 19.691406 30.138672 C 19.814406 31.188672 20.461875 32.17625 21.421875 32.78125 C 22.049875 33.17725 27.179312 36.614156 27.945312 37.160156 C 29.021313 37.929156 30.210813 38.335938 31.382812 38.335938 C 33.622813 38.335938 34.374328 36.023109 34.736328 34.912109 C 35.261328 33.299109 37.227219 20.182141 37.449219 17.869141 C 37.600219 16.284141 36.939641 14.978953 35.681641 14.376953 C 35.210641 14.149953 34.672891 14.035156 34.087891 14.035156 z M 34.087891 16.035156 C 34.362891 16.035156 34.608406 16.080641 34.816406 16.181641 C 35.289406 16.408641 35.530031 16.914688 35.457031 17.679688 C 35.215031 20.202687 33.253938 33.008969 32.835938 34.292969 C 32.477938 35.390969 32.100813 36.335938 31.382812 36.335938 C 30.664813 36.335938 29.880422 36.08425 29.107422 35.53125 C 28.334422 34.97925 23.201281 31.536891 22.488281 31.087891 C 21.863281 30.693891 21.201813 29.711719 22.132812 28.761719 C 22.899812 27.979719 28.717844 22.332938 29.214844 21.835938 C 29.584844 21.464938 29.411828 21.017578 29.048828 21.017578 C 28.923828 21.017578 28.774141 21.070266 28.619141 21.197266 C 28.011141 21.694266 19.534781 27.366266 18.800781 27.822266 C 18.314781 28.124266 17.56225 28.341797 16.78125 28.341797 C 16.44825 28.341797 16.111109 28.301891 15.787109 28.212891 C 14.659109 27.901891 12.750187 27.322734 11.992188 27.052734 C 11.263188 26.792734 10.998047 26.543656 10.998047 26.097656 C 10.998047 25.463656 11.892938 25.026 12.835938 24.625 C 13.831938 24.202 31.066062 16.883437 32.414062 16.398438 C 33.038062 16.172438 33.608891 16.035156 34.087891 16.035156 z"></path></svg>');

.label_1[for="ВКонтакте"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 24 24"><path d="M 5 3 C 3.895 3 3 3.895 3 5 L 3 19 C 3 20.105 3.895 21 5 21 L 19 21 C 20.105 21 21 20.105 21 19 L 21 5 C 21 3.895 20.105 3 19 3 L 5 3 z M 5 5 L 19 5 L 19 19 L 5 19 L 5 5 z M 11.791016 8.8574219 C 11.201016 8.8524219 10.700969 8.8600469 10.417969 8.9980469 C 10.229969 9.0900469 10.084828 9.2965937 10.173828 9.3085938 C 10.282828 9.3225937 10.529109 9.3746875 10.662109 9.5546875 C 10.831109 9.7856875 10.826172 10.304688 10.826172 10.304688 C 10.826172 10.304687 10.922656 11.732156 10.597656 11.910156 C 10.374656 12.032156 10.069109 11.784437 9.4121094 10.648438 C 9.0751094 10.065437 8.8222656 9.421875 8.8222656 9.421875 C 8.8222656 9.421875 8.7725469 9.3003281 8.6855469 9.2363281 C 8.5785469 9.1583281 8.4296875 9.1328125 8.4296875 9.1328125 L 6.859375 9.140625 C 6.859375 9.140625 6.6221563 9.1411406 6.5351562 9.2441406 C 6.4581563 9.3361406 6.5292969 9.5175781 6.5292969 9.5175781 C 6.5292969 9.5175781 7.7602969 12.386844 9.1542969 13.839844 C 10.433297 15.171844 11.882812 15.050781 11.882812 15.050781 L 12.541016 15.050781 C 12.541016 15.050781 12.740797 15.062125 12.841797 14.953125 C 12.934797 14.852125 12.931641 14.695312 12.931641 14.695312 C 12.931641 14.695312 12.919125 13.811641 13.328125 13.681641 C 13.732125 13.553641 14.249828 14.535109 14.798828 14.912109 C 15.212828 15.198109 15.529297 15.136719 15.529297 15.136719 L 16.998047 15.117188 C 16.998047 15.117188 17.765297 15.068938 17.404297 14.460938 C 17.374297 14.410937 17.1925 14.013312 16.3125 13.195312 C 15.3905 12.339313 15.514047 12.477094 16.623047 10.996094 C 17.299047 10.095094 17.569375 9.5445938 17.484375 9.3085938 C 17.403375 9.0825937 16.90625 9.1425781 16.90625 9.1425781 L 15.253906 9.1523438 C 15.253906 9.1523438 15.130062 9.1344531 15.039062 9.1894531 C 14.950063 9.2434531 14.892578 9.3671875 14.892578 9.3671875 C 14.892578 9.3671875 14.63125 10.066156 14.28125 10.660156 C 13.54625 11.913156 13.251859 11.978391 13.130859 11.900391 C 12.850859 11.720391 12.921875 11.174156 12.921875 10.785156 C 12.921875 9.5711562 13.1045 9.0645938 12.5625 8.9335938 C 12.3825 8.8895937 12.251016 8.8624219 11.791016 8.8574219 z"></path></svg>');
}

.label_1[for="Наш Youtube канал"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 24 24"><path d="M 12 4 C 12 4 5.7455469 3.9999687 4.1855469 4.4179688 C 3.3245469 4.6479688 2.6479687 5.3255469 2.4179688 6.1855469 C 1.9999687 7.7455469 2 12 2 12 C 2 12 1.9999687 16.254453 2.4179688 17.814453 C 2.6479687 18.675453 3.3255469 19.352031 4.1855469 19.582031 C 5.7455469 20.000031 12 20 12 20 C 12 20 18.254453 20.000031 19.814453 19.582031 C 20.674453 19.352031 21.352031 18.674453 21.582031 17.814453 C 22.000031 16.254453 22 12 22 12 C 22 12 22.000031 7.7455469 21.582031 6.1855469 C 21.352031 5.3255469 20.674453 4.6479688 19.814453 4.4179688 C 18.254453 3.9999687 12 4 12 4 z M 12 6 C 14.882 6 18.490875 6.1336094 19.296875 6.3496094 C 19.465875 6.3946094 19.604391 6.533125 19.650391 6.703125 C 19.891391 7.601125 20 10.342 20 12 C 20 13.658 19.891391 16.397875 19.650391 17.296875 C 19.605391 17.465875 19.466875 17.604391 19.296875 17.650391 C 18.490875 17.866391 14.882 18 12 18 C 9.118 18 5.509125 17.866391 4.703125 17.650391 C 4.534125 17.605391 4.3956094 17.466875 4.3496094 17.296875 C 4.1086094 16.398875 4 13.658 4 12 C 4 10.342 4.1086094 7.602125 4.3496094 6.703125 C 4.3946094 6.534125 4.533125 6.3956094 4.703125 6.3496094 C 5.509125 6.1336094 9.118 6 12 6 z M 10 9.5 L 16 12 L 10 14.5 L 10 9.5 z"></path></svg>');
}

.footer-about {
    font-family: var(--font-family);
    font-size: 40px;
}

}
/*Laptop 1024*/
@media (width: 1024px) {
.header {
    height: 270px;
}
katalog__list{
    width: 100%;
    flex-wrap: no-wrap;
}
.news{

}
.footer_elements {
    display: flex;
    flex-direction: row;
    background-color: var(--background-grey);
    justify-content: space-around;

}
.second-title {
    font-size: 35px;
    left: 20px;
}
.second-title_footer{
    font-size: 35px;
}

.footer-menu-elements {
    font-size: 25px;
}
.social-elements {
    font-size:  25px;
}
.contacts-elements {
    font-size: 25px;
}

.label:before,
.label_1:before {
    width: 35px;
    height: 35px;
}

.label_1[for="TG"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0 0 50 50"><path d="M 25 2 C 12.309288 2 2 12.309297 2 25 C 2 37.690703 12.309288 48 25 48 C 37.690712 48 48 37.690703 48 25 C 48 12.309297 37.690712 2 25 2 z M 25 4 C 36.609833 4 46 13.390175 46 25 C 46 36.609825 36.609833 46 25 46 C 13.390167 46 4 36.609825 4 25 C 4 13.390175 13.390167 4 25 4 z M 34.087891 14.035156 C 33.403891 14.035156 32.635328 14.193578 31.736328 14.517578 C 30.340328 15.020578 13.920734 21.992156 12.052734 22.785156 C 10.984734 23.239156 8.9960938 24.083656 8.9960938 26.097656 C 8.9960938 27.432656 9.7783594 28.3875 11.318359 28.9375 C 12.146359 29.2325 14.112906 29.828578 15.253906 30.142578 C 15.737906 30.275578 16.25225 30.34375 16.78125 30.34375 C 17.81625 30.34375 18.857828 30.085859 19.673828 29.630859 C 19.666828 29.798859 19.671406 29.968672 19.691406 30.138672 C 19.814406 31.188672 20.461875 32.17625 21.421875 32.78125 C 22.049875 33.17725 27.179312 36.614156 27.945312 37.160156 C 29.021313 37.929156 30.210813 38.335938 31.382812 38.335938 C 33.622813 38.335938 34.374328 36.023109 34.736328 34.912109 C 35.261328 33.299109 37.227219 20.182141 37.449219 17.869141 C 37.600219 16.284141 36.939641 14.978953 35.681641 14.376953 C 35.210641 14.149953 34.672891 14.035156 34.087891 14.035156 z M 34.087891 16.035156 C 34.362891 16.035156 34.608406 16.080641 34.816406 16.181641 C 35.289406 16.408641 35.530031 16.914688 35.457031 17.679688 C 35.215031 20.202687 33.253938 33.008969 32.835938 34.292969 C 32.477938 35.390969 32.100813 36.335938 31.382812 36.335938 C 30.664813 36.335938 29.880422 36.08425 29.107422 35.53125 C 28.334422 34.97925 23.201281 31.536891 22.488281 31.087891 C 21.863281 30.693891 21.201813 29.711719 22.132812 28.761719 C 22.899812 27.979719 28.717844 22.332938 29.214844 21.835938 C 29.584844 21.464938 29.411828 21.017578 29.048828 21.017578 C 28.923828 21.017578 28.774141 21.070266 28.619141 21.197266 C 28.011141 21.694266 19.534781 27.366266 18.800781 27.822266 C 18.314781 28.124266 17.56225 28.341797 16.78125 28.341797 C 16.44825 28.341797 16.111109 28.301891 15.787109 28.212891 C 14.659109 27.901891 12.750187 27.322734 11.992188 27.052734 C 11.263188 26.792734 10.998047 26.543656 10.998047 26.097656 C 10.998047 25.463656 11.892938 25.026 12.835938 24.625 C 13.831938 24.202 31.066062 16.883437 32.414062 16.398438 C 33.038062 16.172438 33.608891 16.035156 34.087891 16.035156 z"></path></svg>');
}

.label_1[for="ВКонтакте"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0 0 24 24"><path d="M 5 3 C 3.895 3 3 3.895 3 5 L 3 19 C 3 20.105 3.895 21 5 21 L 19 21 C 20.105 21 21 20.105 21 19 L 21 5 C 21 3.895 20.105 3 19 3 L 5 3 z M 5 5 L 19 5 L 19 19 L 5 19 L 5 5 z M 11.791016 8.8574219 C 11.201016 8.8524219 10.700969 8.8600469 10.417969 8.9980469 C 10.229969 9.0900469 10.084828 9.2965937 10.173828 9.3085938 C 10.282828 9.3225937 10.529109 9.3746875 10.662109 9.5546875 C 10.831109 9.7856875 10.826172 10.304688 10.826172 10.304688 C 10.826172 10.304687 10.922656 11.732156 10.597656 11.910156 C 10.374656 12.032156 10.069109 11.784437 9.4121094 10.648438 C 9.0751094 10.065437 8.8222656 9.421875 8.8222656 9.421875 C 8.8222656 9.421875 8.7725469 9.3003281 8.6855469 9.2363281 C 8.5785469 9.1583281 8.4296875 9.1328125 8.4296875 9.1328125 L 6.859375 9.140625 C 6.859375 9.140625 6.6221563 9.1411406 6.5351562 9.2441406 C 6.4581563 9.3361406 6.5292969 9.5175781 6.5292969 9.5175781 C 6.5292969 9.5175781 7.7602969 12.386844 9.1542969 13.839844 C 10.433297 15.171844 11.882812 15.050781 11.882812 15.050781 L 12.541016 15.050781 C 12.541016 15.050781 12.740797 15.062125 12.841797 14.953125 C 12.934797 14.852125 12.931641 14.695312 12.931641 14.695312 C 12.931641 14.695312 12.919125 13.811641 13.328125 13.681641 C 13.732125 13.553641 14.249828 14.535109 14.798828 14.912109 C 15.212828 15.198109 15.529297 15.136719 15.529297 15.136719 L 16.998047 15.117188 C 16.998047 15.117188 17.765297 15.068938 17.404297 14.460938 C 17.374297 14.410937 17.1925 14.013312 16.3125 13.195312 C 15.3905 12.339313 15.514047 12.477094 16.623047 10.996094 C 17.299047 10.095094 17.569375 9.5445938 17.484375 9.3085938 C 17.403375 9.0825937 16.90625 9.1425781 16.90625 9.1425781 L 15.253906 9.1523438 C 15.253906 9.1523438 15.130062 9.1344531 15.039062 9.1894531 C 14.950063 9.2434531 14.892578 9.3671875 14.892578 9.3671875 C 14.892578 9.3671875 14.63125 10.066156 14.28125 10.660156 C 13.54625 11.913156 13.251859 11.978391 13.130859 11.900391 C 12.850859 11.720391 12.921875 11.174156 12.921875 10.785156 C 12.921875 9.5711562 13.1045 9.0645938 12.5625 8.9335938 C 12.3825 8.8895937 12.251016 8.8624219 11.791016 8.8574219 z"></path></svg>');
}

.label_1[for="Наш Youtube канал"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0 0 24 24"><path d="M 12 4 C 12 4 5.7455469 3.9999687 4.1855469 4.4179688 C 3.3245469 4.6479688 2.6479687 5.3255469 2.4179688 6.1855469 C 1.9999687 7.7455469 2 12 2 12 C 2 12 1.9999687 16.254453 2.4179688 17.814453 C 2.6479687 18.675453 3.3255469 19.352031 4.1855469 19.582031 C 5.7455469 20.000031 12 20 12 20 C 12 20 18.254453 20.000031 19.814453 19.582031 C 20.674453 19.352031 21.352031 18.674453 21.582031 17.814453 C 22.000031 16.254453 22 12 22 12 C 22 12 22.000031 7.7455469 21.582031 6.1855469 C 21.352031 5.3255469 20.674453 4.6479688 19.814453 4.4179688 C 18.254453 3.9999687 12 4 12 4 z M 12 6 C 14.882 6 18.490875 6.1336094 19.296875 6.3496094 C 19.465875 6.3946094 19.604391 6.533125 19.650391 6.703125 C 19.891391 7.601125 20 10.342 20 12 C 20 13.658 19.891391 16.397875 19.650391 17.296875 C 19.605391 17.465875 19.466875 17.604391 19.296875 17.650391 C 18.490875 17.866391 14.882 18 12 18 C 9.118 18 5.509125 17.866391 4.703125 17.650391 C 4.534125 17.605391 4.3956094 17.466875 4.3496094 17.296875 C 4.1086094 16.398875 4 13.658 4 12 C 4 10.342 4.1086094 7.602125 4.3496094 6.703125 C 4.3946094 6.534125 4.533125 6.3956094 4.703125 6.3496094 C 5.509125 6.1336094 9.118 6 12 6 z M 10 9.5 L 16 12 L 10 14.5 L 10 9.5 z"></path></svg>');
}

.footer-about {
    font-size: 25px;
}
.footer_elements > ul:first-child,
.footer_elements > ul:last-child {
    padding: 0 70px;
}
}
/*Tablet 768*/
@media (max-width:768px) {

.header {
    position: relative;
    height: 50vh;
}
.header_top{
   flex-direction: column;
   height: 20vh;
}
.header__background{
    margin-top: 120px;
}
.navigation{
    margin: 20px 0px;
}
.menu {
  display: flex; /* Делаем контейнер flex-контейнером */
  flex-direction: row; /* Располагаем элементы в колонну */
  align-items: flex-start;
  white-space: nowrap; /* Запрещаем перенос текста на новую строку */

  margin-top: 0px;
  padding: 11px 0px;
  left: 0;
}
.logo{
    justify-content: center;
    align-items: flex-start;
    margin-top: 5px;
}
.katalog{
    padding: 50px 20px;

}
.katalog__list{
    width:100%;
}
.about_me{
    padding: 30px;
}
.news{
    padding: 50px 20px;
}
.contact-me{
    margin-top: 15px;
}

.footer_elements {
    display: flex;
    flex-direction: row;
    background-color: var(--background-grey);
    justify-content: space-around;
    align-items: flex-start;

}
.second-title {
    font-size: 35px;
    left: 20px;
}
.second-title_footer{
    font-size: 35px;
}

.footer-menu-elements {
    font-size: 25px;
}
.social-elements {
    font-size:  25px;
}

.contacts-elements {
    font-size: 25px;
}

.label:before,
.label_1:before {
    width: 35px;
    height: 35px;
}

.label_1[for="TG"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0 0 50 50"><path d="M 25 2 C 12.309288 2 2 12.309297 2 25 C 2 37.690703 12.309288 48 25 48 C 37.690712 48 48 37.690703 48 25 C 48 12.309297 37.690712 2 25 2 z M 25 4 C 36.609833 4 46 13.390175 46 25 C 46 36.609825 36.609833 46 25 46 C 13.390167 46 4 36.609825 4 25 C 4 13.390175 13.390167 4 25 4 z M 34.087891 14.035156 C 33.403891 14.035156 32.635328 14.193578 31.736328 14.517578 C 30.340328 15.020578 13.920734 21.992156 12.052734 22.785156 C 10.984734 23.239156 8.9960938 24.083656 8.9960938 26.097656 C 8.9960938 27.432656 9.7783594 28.3875 11.318359 28.9375 C 12.146359 29.2325 14.112906 29.828578 15.253906 30.142578 C 15.737906 30.275578 16.25225 30.34375 16.78125 30.34375 C 17.81625 30.34375 18.857828 30.085859 19.673828 29.630859 C 19.666828 29.798859 19.671406 29.968672 19.691406 30.138672 C 19.814406 31.188672 20.461875 32.17625 21.421875 32.78125 C 22.049875 33.17725 27.179312 36.614156 27.945312 37.160156 C 29.021313 37.929156 30.210813 38.335938 31.382812 38.335938 C 33.622813 38.335938 34.374328 36.023109 34.736328 34.912109 C 35.261328 33.299109 37.227219 20.182141 37.449219 17.869141 C 37.600219 16.284141 36.939641 14.978953 35.681641 14.376953 C 35.210641 14.149953 34.672891 14.035156 34.087891 14.035156 z M 34.087891 16.035156 C 34.362891 16.035156 34.608406 16.080641 34.816406 16.181641 C 35.289406 16.408641 35.530031 16.914688 35.457031 17.679688 C 35.215031 20.202687 33.253938 33.008969 32.835938 34.292969 C 32.477938 35.390969 32.100813 36.335938 31.382812 36.335938 C 30.664813 36.335938 29.880422 36.08425 29.107422 35.53125 C 28.334422 34.97925 23.201281 31.536891 22.488281 31.087891 C 21.863281 30.693891 21.201813 29.711719 22.132812 28.761719 C 22.899812 27.979719 28.717844 22.332938 29.214844 21.835938 C 29.584844 21.464938 29.411828 21.017578 29.048828 21.017578 C 28.923828 21.017578 28.774141 21.070266 28.619141 21.197266 C 28.011141 21.694266 19.534781 27.366266 18.800781 27.822266 C 18.314781 28.124266 17.56225 28.341797 16.78125 28.341797 C 16.44825 28.341797 16.111109 28.301891 15.787109 28.212891 C 14.659109 27.901891 12.750187 27.322734 11.992188 27.052734 C 11.263188 26.792734 10.998047 26.543656 10.998047 26.097656 C 10.998047 25.463656 11.892938 25.026 12.835938 24.625 C 13.831938 24.202 31.066062 16.883437 32.414062 16.398438 C 33.038062 16.172438 33.608891 16.035156 34.087891 16.035156 z"></path></svg>');
}

.label_1[for="ВКонтакте"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0 0 24 24"><path d="M 5 3 C 3.895 3 3 3.895 3 5 L 3 19 C 3 20.105 3.895 21 5 21 L 19 21 C 20.105 21 21 20.105 21 19 L 21 5 C 21 3.895 20.105 3 19 3 L 5 3 z M 5 5 L 19 5 L 19 19 L 5 19 L 5 5 z M 11.791016 8.8574219 C 11.201016 8.8524219 10.700969 8.8600469 10.417969 8.9980469 C 10.229969 9.0900469 10.084828 9.2965937 10.173828 9.3085938 C 10.282828 9.3225937 10.529109 9.3746875 10.662109 9.5546875 C 10.831109 9.7856875 10.826172 10.304688 10.826172 10.304688 C 10.826172 10.304687 10.922656 11.732156 10.597656 11.910156 C 10.374656 12.032156 10.069109 11.784437 9.4121094 10.648438 C 9.0751094 10.065437 8.8222656 9.421875 8.8222656 9.421875 C 8.8222656 9.421875 8.7725469 9.3003281 8.6855469 9.2363281 C 8.5785469 9.1583281 8.4296875 9.1328125 8.4296875 9.1328125 L 6.859375 9.140625 C 6.859375 9.140625 6.6221563 9.1411406 6.5351562 9.2441406 C 6.4581563 9.3361406 6.5292969 9.5175781 6.5292969 9.5175781 C 6.5292969 9.5175781 7.7602969 12.386844 9.1542969 13.839844 C 10.433297 15.171844 11.882812 15.050781 11.882812 15.050781 L 12.541016 15.050781 C 12.541016 15.050781 12.740797 15.062125 12.841797 14.953125 C 12.934797 14.852125 12.931641 14.695312 12.931641 14.695312 C 12.931641 14.695312 12.919125 13.811641 13.328125 13.681641 C 13.732125 13.553641 14.249828 14.535109 14.798828 14.912109 C 15.212828 15.198109 15.529297 15.136719 15.529297 15.136719 L 16.998047 15.117188 C 16.998047 15.117188 17.765297 15.068938 17.404297 14.460938 C 17.374297 14.410937 17.1925 14.013312 16.3125 13.195312 C 15.3905 12.339313 15.514047 12.477094 16.623047 10.996094 C 17.299047 10.095094 17.569375 9.5445938 17.484375 9.3085938 C 17.403375 9.0825937 16.90625 9.1425781 16.90625 9.1425781 L 15.253906 9.1523438 C 15.253906 9.1523438 15.130062 9.1344531 15.039062 9.1894531 C 14.950063 9.2434531 14.892578 9.3671875 14.892578 9.3671875 C 14.892578 9.3671875 14.63125 10.066156 14.28125 10.660156 C 13.54625 11.913156 13.251859 11.978391 13.130859 11.900391 C 12.850859 11.720391 12.921875 11.174156 12.921875 10.785156 C 12.921875 9.5711562 13.1045 9.0645938 12.5625 8.9335938 C 12.3825 8.8895937 12.251016 8.8624219 11.791016 8.8574219 z"></path></svg>');
}

.label_1[for="Наш Youtube канал"]:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0 0 24 24"><path d="M 12 4 C 12 4 5.7455469 3.9999687 4.1855469 4.4179688 C 3.3245469 4.6479688 2.6479687 5.3255469 2.4179688 6.1855469 C 1.9999687 7.7455469 2 12 2 12 C 2 12 1.9999687 16.254453 2.4179688 17.814453 C 2.6479687 18.675453 3.3255469 19.352031 4.1855469 19.582031 C 5.7455469 20.000031 12 20 12 20 C 12 20 18.254453 20.000031 19.814453 19.582031 C 20.674453 19.352031 21.352031 18.674453 21.582031 17.814453 C 22.000031 16.254453 22 12 22 12 C 22 12 22.000031 7.7455469 21.582031 6.1855469 C 21.352031 5.3255469 20.674453 4.6479688 19.814453 4.4179688 C 18.254453 3.9999687 12 4 12 4 z M 12 6 C 14.882 6 18.490875 6.1336094 19.296875 6.3496094 C 19.465875 6.3946094 19.604391 6.533125 19.650391 6.703125 C 19.891391 7.601125 20 10.342 20 12 C 20 13.658 19.891391 16.397875 19.650391 17.296875 C 19.605391 17.465875 19.466875 17.604391 19.296875 17.650391 C 18.490875 17.866391 14.882 18 12 18 C 9.118 18 5.509125 17.866391 4.703125 17.650391 C 4.534125 17.605391 4.3956094 17.466875 4.3496094 17.296875 C 4.1086094 16.398875 4 13.658 4 12 C 4 10.342 4.1086094 7.602125 4.3496094 6.703125 C 4.3946094 6.534125 4.533125 6.3956094 4.703125 6.3496094 C 5.509125 6.1336094 9.118 6 12 6 z M 10 9.5 L 16 12 L 10 14.5 L 10 9.5 z"></path></svg>');
}

.footer-about {
    font-family: var(--font-family);
    font-size: 25px;
    align-items: center;
}
}
/*Mobile*/
@media (width >= 319px) and (width <= 426px) {
.header {
    position: relative;
    height: 40vh;
}
.header__background {
   display: none;
}
.logo{

}
.header_top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 10px;
    height: 70px;
    color: black;

}
.menu{
    flex-direction: column;
    margin-right: 0px;
    gap: 10px;
}
.katalog{
    padding: 0px 20px;
}
#slider-container {
    width:90%;
}
.slider-image {
  flex: 0 0 100%; /* Изменяем ширину изображений на 100%, чтобы они занимали всю ширину контейнера */
  max-width: 100%; /* Чтобы изображения не выходили за пределы контейнера */
  height: auto; /* Автоматическая высота, чтобы соответствовать измененной ширине */
}

.slider-image {
  flex: 0 0 100%; /* Изменяем ширину изображений на 100%, чтобы они занимали всю ширину контейнера */
  max-width: 100%; /* Чтобы изображения не выходили за пределы контейнера */
  height: auto; /* Автоматическая высота, чтобы соответствовать измененной ширине */
}
.news-list{
    width: 50%;
}
.contact-me {
    margin-top: 20px;
}
.form{
    padding: 10px;
}
.footer_elements {
    display: flex;
    flex-direction: column;
    background-color: var(--background-grey);
    justify-content: space-around;
    gap: 20px;
}
.second-title_footer{
    font-size: 25px;
}
.footer-menu-elements {
    font-size: 20px;
}
.social-elements {
    font-size: 20px;
}

.contacts-elements {
    font-size: 20px;
}

.footer-about {
    font-family: var(--font-family);
    align-items: center;
}
}


/*1440 Laptop L*/


